<html>
	<body>
		<table border=0 width=100%>
			<tr>
				<td align="right">
					<p>
						<font face="verdana" size="1" color="blue">
							|&nbsp;<%= link_to "Login", new_user_session_path %>&nbsp;|&nbsp;<%= link_to "Sign up", new_user_registration_path %>&nbsp;|&nbsp;<%#= link_to "Logout", destroy_user_session_path, method: :delete %>
						</font>
					</p>
				</td>
			</tr>
			<tr height="257" valign="bottom">
				<td align="center">
					<font face ="verdana" color="maroon"><h1>Welcome to PetsOnline!</h1>The site for all your pet's needs!</font>
				</td>
			</tr>
			<tr height="393">
				<td align="center">
					<img border="0" src="/assets/31.jpg">
				</td>
			</tr
		</table>
	</body>
</html>